.lead__image {
    mix-blend-mode: luminosity;
    margin-top: 64px;
    max-width: 984px;
    height: 615px;
    margin: 64px 148px 0 148px;
}

@media screen and (max-width: 820px) {
    .lead__image {
        width: 768px;
        height: 450px;
    }
}

@media screen and (max-width: 360px) {
    .lead__image {
        width: 320px;
        height: 187px;
    }
}

