.lead__title {
    font-style: normal;
    width: 793px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    max-width: 793px;
}

@media screen and (max-width: 880px) {
    .lead__title {
        width: 720px;
    }
}

@media screen and (max-width: 410px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

