.place__image {
    grid-area: image;
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 880px) {
    .place__image {
        padding: 0 24px;
    }
 }

@media screen and (max-width: 410px) {
    .place__image {
        padding: 0 16px;
    }
}

