.photo-grid {
    max-width: 1184px;
    width: 100%;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px 16px;
    padding: 118px 0 92px 0;
    margin: 0;
}

@media screen and (max-width: 880px) {
    .photo-grid  {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: 101px;
        padding: 0;
        
    }
}

@media screen and (max-width: 410px) {
    .photo-grid  {
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
        grid-gap: 15px;
    }
}