.place {
    display: grid;
    grid-template-areas: 
        "title website"
        "image text"
        "button text";
    grid-gap: 48px 40px;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 460px 1fr;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 880px) {
    .place {
        grid-gap: 48px 28px;
        grid-template-rows: auto auto 1fr;
        margin: 72px 0 0 0;
    }
}

 @media screen and (max-width: 544px) {
    .place {
        display: block;
        margin: 48px 0 64px 0;
    }
}