.footer__copyright {
    max-width: 165px;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

@media screen and (max-width: 880px) {
    .footer__copyright {
        margin: 0;
    }
 }

@media screen and (max-width: 544px) {
    .footer__copyright {
        margin: 0;
}