.modal__close-button {
    display: block;
    position: absolute;
    top: -35px;
    right: -35px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    background-image: url(../../../images/Close\ Icon.svg);
}