.modal {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    display: none;
    align-items: center;
    justify-content: center;
}