.photo-grid__item {
    width: 284px;
    height: 213px;
}

@media screen and (max-width: 820px) {
    .photo-grid__item {
        width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 410px) {
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
}

