.photo-grid__item {
    max-width: 284px;
}

@media screen and (max-width: 880px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 410px) {
    .photo-grid__item {
        max-width: 288px;
    }
}

