.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    grid-area: paragraphs;
    margin: 0;
}

.place__paragraph:nth-child(2) {
    margin-top: 25px;
}

@media screen and (max-width: 880px) {
   .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    padding: 0 0 0 28px;
   }

   .place__paragraph:nth-child(2){
    font-size: 16px;
    line-height: 163%;
    padding: 0 0 0 28px;
   }
}

@media screen and (max-width: 410px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
       }

    .place__paragraph:nth-child(2) { 
        font-size: 16px;
        line-height: 163%;
       }
}