.cover__title {
    width: 656px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width:880px) {
    .cover__title{
        width: 656px;
    }
}
 
 @media screen and (max-width: 410px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
     }
 }