.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

@media screen and (max-width: 880px) {
    .lead {
        width: 768px;
    }
}

@media screen and (max-width: 410px) {
    .lead  {
        width: 288px;
    }
}