.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    margin: 0;
    width: 785px;
    height: 116px;
}

@media screen and (max-width: 820px) {
    .intro__title {
        width: 720px;
        height: 174px;
    }
}

@media screen and (max-width: 360px) {
    .intro__title {
        width: 288px;
        height: 140px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}