.place__artist {
    width: 456px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 820px) {
    .place__artist  {
        width: 316px;

    }
}

@media screen and (max-width: 410px) {
    .place__artist {
        width: 288px;
    }
}
