.section_narrow {
    max-width: 984px;
    margin: 92px 148px 0 148px;
}

@media screen and (max-width: 820px) {
    .section_narrow {
        width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 410px) {
    .section_narrow {
        width: 288px;
        margin-top: 64px;    
    }
}
