.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
    margin: 0;
}

@media screen and (max-width: 880px) {
    .place__title{
        max-width: 340px;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        padding: 0;
        margin: 0 28px 0 24px;
    }
}

@media screen and (max-width: 410px) {
    .place__title{
        max-width: 288px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        padding: 0;
        margin: 48px 0 0 0;
    }
}