.intro__text {
    width: 690px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin: 40px 0 0 0;
}

.intro__text:nth-child(3) {
    text-align: right;
    margin: 10px 0 0 0;
}

.intro__text:nth-child(4) {
    font-size: 16px;
    margin: 32px 0 0 0;
    font-weight: normal;
    line-height: 163%;
}

@media screen and (max-width: 820px) {
    .intro__text{
        width: 720px;
    }
    .intro__text:nth-child(3) {
        width: 720px;
        margin: 10px 0 32px 0;
    } 
    .intro__text:nth-child(4){
        width: 720px;
    }
}


@media screen and (max-width: 410px) {
    .intro__text{
        width: 288px;
        font-size: 24px;
        line-height: 30px;
    }
    .intro__text:nth-child(3){
        width: 288px;
    }
    .intro__text:nth-child(4){
        width: 288px;
    }
}
