.places {
    max-width: 987px;
    margin: 92px 148px 0 148px;
}

@media screen and (max-width: 880px) {
    .places {
        width: 720px;
    }
}
 
 @media screen and (max-width: 410px) {
    .places {
        width: 320px;
        margin: 0 0 64px 0;
    }
}
