.cover__subtitle {
    width: 280px;
    height: 66px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px 0 32px 0;
}

@media screen and (max-width:820px) {
    .cover__subtitle {
        height: 66px;
        font-size: 18px;
        line-height: 22px;
    }
}
 
 @media screen and (max-width: 360px) {
    .cover__subtitle {
        height: 48px;
        font-size: 14px;
        line-height: 16px;
     }
 }









